{
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always",
        "printWidth": 100
      }
    }
  ]
}
